/*for general purpose*/
*{
	margin:0px;
	padding:0px;
	border:0px;
	color:#666666;
	font-family:monospace;
	letter-spacing:-0.1em;
}
img{
	margin:0px;
	padding:0px;
	border:0px;
}
a:link{
	color:#666666;
	text-decoration:none;
}
a:visited{
	color:#666666;
	text-decoration:none;
}
a:focus{
	color:#666666;
	text-decoration:none;
}
body{
	width:901px;
	height:1162px;
	display:block;
	margin-left:51px;
	margin-right:53px;
}
ul{
	list-style-type: none;
}
li{
	list-style-type: none;
}
/*for header*/
div#header{
	width:901px;
	height:132px;
	display:block;
	overflow:none;
}
div#contents_header{
	height:56px;
	display:block;
	overflow:hidden;
}
div#contents_lead{
	border:0px;
	margin:0px;
	padding:0px;
	padding-top:20px;
	padding-left:18px;
	text-align:left;
	font-size:12px;
	font-family:monospace;
	width:inherit;
	height:47px;
	overflow:hidden;
	display:block;
}
div#contents_header_l{
	width:720px;
	height:56px;
	display:block;
	overflow:hidden;
}
div#contents_lead_l{
	width:680px;
	border:0px;
	margin:0px;
	padding:0px;
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;
	text-align:left;
	font-size:11px;
	overflow:hidden;
	display:block;
}
div.alignLeft{
	float:left;
	text-align:left;
	padding-left:22px;
	height:132x;
	overflow:none;
}
div.alignRight{
	float:right;
	text-align:right;
	height:44px;
	padding-top:43px;
	overflow:none;
}
/*for menu .SWF/GIF file*/
div#v_menu{
	position:relative;
	top:0px;
	width:165px;
	height:1100px;
	float:left;
}
div#h_menu{
	margin:0px;
	padding:0px;
	padding-top:8px;
	border:0px;
	border-top:8px;
	background-image:url('COMMON_RSRC/vmenu_header.gif');
	background-repeat:no-repeat;
	position:absolute;
	top:132px;
	left:51px;
	width:901;
	height:72px;
	vertical-align:top;
	display:block;
}
/*horizontal menu template*/
div.h_menuItem{
	margin:0px;
	padding:0px;
	border:0px;
	height:32px;
	overflow:hidden;
	float:left;
}/*for right pain*/
div.container{
	width:720px;
	height:1140px;
	position:absolute;
	top:132px;
	left:232px;
	display:block;
}
div.container_d{
	width:901px;
	position:absolute;
	top:134px;
	display:block;
}
/*for contents holder*/
div.contents{
	width:720px;
	height:1140px;
	display:block;
	overflow:hidden;
}
div#content{
	margin:0px;
	padding:0px;
	border:0px;
	width:720px;
	display:block;
}
div.contents_d{
	width:901px;
	display:block;
}
div#content_d{
	margin:0px;
	padding:0px;
	border:0px;
	width:901px;
	display:block;
}
/*content header*/
div.content_header{
	display:block;
	width:720px;
	height:41px;
	margin-bottom:1px;
	overflow:hidden;
}
div.content_leadPh{
	width:720px;
	height:97px;
	margin-bottom:4px;
}
div.content_lead{
	width:720px;
	height:79px;
	font-size:12px;
	letter-spacing:-1px;
	padding-left:2px;
	overflow:hidden;
}
div.content_lead span#title{
	display:block;
	padding-top:4px;
	width:720px;
	height:25px;
	font-size:13px;
	font-weight:bold;
}
div.content_lead div.btn{
	position:relative;
	top:-38px;
	left:549px;
}
/*for footer*/
div.footer{
	width:720px;
	height:25px;
	margin-top:5px;
	padding-top:5px;
	background-image:url('footer_bg.gif');
	background-repeat:no-repeat;
	display:block;
	font-size: 11px;
	vertical-align:baseline;

}
ul.footer{
	height:21px;
	margin:0px;
	margin-top:2px;
	padding:0px;
	border:0px;
	list-style-type:none;
}
li.footer{
	margin:0px;
	margin-right:10px;
	padding:0px;
	padding-left:8px;
	border:0px;
	border-left: 6px;
	background-image:url('header_mark.gif');
	background-repeat:no-repeat;
	float:left;
	list-style-type: none;
}
address.footer{
	width:420px;
	height:22px;
	font-size:9px;
	vertical-align:bottom;
	font-style:normal;
	position:relative;
	top:1px;
	text-align:right;
	overflow:hidden;
}
/*for testing*/
.dummy{
	border:1px;
	border-color:red;
	background-color:purple;
}

q:before, q:after{
	content:"";
}
